@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/** font-family: 'Open Sans', sans-serif; **/
html{
  scroll-behavior: smooth;
}
body {
  background: #fff;
  color: #3a4d60;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;

  margin: 0;
 
}

#particles {
  color:white;
  font-size: 6rem;
  margin:2rem 0 0 0;
  position: relative;
  text-align: center;
}
.particle {
  background-color: #00acff;
  border-radius: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  height: 1rem;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 1rem;
}
.particle--a {
  animation: 1.4s linear 0s normal none infinite particle-a;
}
.particle--b {
  animation: 1.7s linear 0s normal none infinite particle-b;
  background-color: #a46fcd;
}
@keyframes particle-a {
0% {
  animation-timing-function: ease-in-out;
  transform: translate3d(-3rem, -3rem, 0px);
  z-index: 1;
}
25% {
  height: 1.5rem;
  width: 1.5rem;
}
50% {
  animation-timing-function: ease-in-out;
  opacity: 1;
  transform: translate3d(3rem, 3rem, 0px);
  z-index: 1;
}
55% {
  z-index: -1;
}
75% {
  height: 0.75rem;
  opacity: 0.5;
  width: 0.75rem;
}
100% {
  transform: translate3d(-3rem, -3rem, 0px);
  z-index: -1;
}
}
@keyframes particle-b {
0% {
  animation-timing-function: ease-in-out;
  transform: translate3d(-5rem, -3rem, 0px);
  z-index: 1;
}
25% {
  height: 2rem;
  width: 2rem;
}
50% {
  animation-timing-function: ease-in-out;
  opacity: 1;
  transform: translate3d(5rem, 3rem, 0px);
  z-index: 1;
}
55% {
  z-index: -1;
}
75% {
  height: 0.5rem;
  opacity: 0.25;
  width: 0.5rem;
}
100% {
  transform: translate3d(-5rem, -3rem, 0px);
  z-index: -1;
}
}

.hiddenText{
  display: none;
}
p:hover .hiddenText {
  display: inline-block;
}
.col-sm-6{
  padding-top: 50px;
  padding-bottom: 50px;
 
}

a {
  text-decoration: none;
  -ms-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
  outline: medium none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

.clear {
  border: 0;
  clear: both;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

header.stick {
  background: rgba(0, 0, 0, 0.76);
}


.banner{
  margin-top: 50px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  color: whitesmoke;

}

 .container,
 .container .row {
  position: relative;
  height: 100%;
}


video{
  width: 100%;
}


.overlayvideo{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.575);
}

.textovideo{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;

}

.textovideo h1{
  font-size: 50px;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  z-index: 100;

}

.container,
.container .row {
  position: relative;
  height: 100%;
}

.banner .banner-text h1 {
  color: #fff;
}

.videologo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0 40px;
  font-size: 14px;
  line-height: 3;
  font-weight: 600;
  letter-spacing: 0.05em;
  box-shadow: 0px 4px 11px 0px rgba(255, 255, 255, 0.23) inset;
  z-index: 100;
}

.btn-primary:hover {
  color: #fff;
  background-color: #e7526b;
  border: none;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0px 4px 11px 0px rgba(255, 255, 255, 0.23) inset;
}

.btn-light {
  color: #d54c63;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0 40px;
  font-size: 14px;
  line-height: 3;
  font-weight: 600;
  letter-spacing: 0.05em;
  box-shadow: 0px 4px 11px 0px rgba(255, 255, 255, 0.23) inset;
}

.btn-light:hover {
  color: #fff;
  background-color: #8824cd;
  border: none;
}

.btn-light.focus,
.btn-light:focus {
  box-shadow: 0px 4px 11px 0px rgba(255, 255, 255, 0.23) inset;
}

.section-1 {
  background-color: #2e3b4e;
}

.section-1 h4,
.section-1 p,
.section-2 h3,
.section-2 p,
.section-4 h3,
.section-4 p,
.section-4 .media-body {
  color: #fff;
  letter-spacing: 0.03em;
}

.section-1 h4,
.section-2 h3,
.section-3 h4,
.section-4 h3,
.section-5 h3,
.section-6 h3,
.section-6 h4
.section-5 h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-2 h3,
.section-4 h3 {
  font-size: 24px;
}

.section-1 p,
.section-2 p,
.section-3 p,
.section-4 .media-body {
  font-size: 15px;
  line-height: 1.7;
}

.section-2,
.section-4 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2,
.section-2 .container,
.section-4,
.section-4 .container {
  position: relative;
}


.section-4:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(82, 142, 231, 0.8);
}

.section-4:before {
  content: "";
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.section-2 .container,
.section-4 .container {
  z-index: 5;
}

.section-3 p {
  font-size: 18px;
  margin-bottom: 20px;
}

.section-3 p:last-of-type {
  margin-bottom: 0;
}

.section-3{
 height: 800px;
 width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
align-items: center;
background-color: #F9F8F9;
background-size: cover;
color: #2e3b4e;
}

.section-5{
  height: 600px;
  width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-content: center;
 align-items: center;
 background-color: #0e3189;
 
 background-size: cover;
 color: white;
 }
 .section-6{
  height: 800px;
  width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 background-size: cover;
 color:black;

 }

 .slidesSection{
  height: 500px;
  width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 background-size: cover;
 background-color: #F9F8F9;
 color:black;
 }

.section-4 {
  height: 450px;
}

.section-4 .container,
.section-4 .container .row {
  height: 100%;
  position: relative;
}

footer {
  background-color: #2e3b4e;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  header .navbar-toggler-icon {
    background: rgba(255, 255, 255, 0.3);
  }

 


  .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.3);
    padding: 6px;
  }

  header .navbar-expand-lg .navbar-nav .nav-link,
  header form {
    margin-left: 0;
  }

  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 15px;
  }

  header form {
    margin-top: 10px;
  }

  header .navbar-expand-lg .navbar-nav li.active .nav-link:before {
    display: none;
  }

  header .navbar-expand-lg .navbar-nav li.active .nav-link {
    color: #e7526b;
    background: #fff;
  }

  header form input.form-control {
    width: 100%;
  }
}



/* HISTORIAS DE EXITO */

a {
	color: #e45245;
}

a:hover {
	text-decoration: none;
}

/*  Team Starts */
.team-members {
	transform: rotate(-45deg);
}
.team-members li > div {
	float: left;
	width: 20%;
}

.team-members li:nth-child(2) > div:first-child {
	margin-left: 20%;
}

.team-members li:last-child > div:first-child {
	margin-left: 40%;
}

.member-details > div {
	background-color: #ddd;
	margin: 5px;
}
.member-details img {
	transform: rotate(45deg) translate(0, 15px) scale(1.2);
	display: block;
	width: 100%;
	height: 100%;
}

/* hover content - style */
.member-details > div {
	position: relative;
	overflow: hidden;
}

.member-info {
	position: absolute;
	top: 50%;
	transform: rotate(45deg) translate(-12px, 15px);
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
}

.member-info h3,
.member-info p {
	margin: 0;
	color: #fff;
	position: relative;
	opacity: 0;
	visibility: hidden;
}

.member-info h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	top: -100px;
}

.member-info p {
	font-weight: 300;
	font-size: 12px;
	bottom: -150px;
}

.member-details > div:after {
	content: '';
	background-image: linear-gradient(45deg, rgba(69, 119, 228, 0.8) 50%, transparent 50%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

/* hover content - onhover */
.member-details *,
.member-details > div:after {
	cursor: pointer;
	transition: all .4s ease;
}

.member-details:hover *,
.member-details:hover > div:after {
	opacity: 1;
	visibility: visible;
}

.member-details:hover .member-info h3 {
	top: 0;
}

.member-details:hover .member-info p {
	bottom: 0;
}

/* Team overview */
.team-overview {
	padding-right: 15px;
}
.team-overview h2 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

.team-overview > a {
	margin-bottom: 30px;
	display: block;
}

.team-overview > a:before {
	content: '';
	width: 10px;
	height: 2px;
	position: relative;
	top: -3px;
	margin-right: 5px;
	background-color: #ccc;
	display: inline-block;
}


/* For centering elements - optional - Can use table,tablecell instead */
.flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-center > div:first-child {
	order: 2;
}

/* RESPONSIVE */
@media only screen and (max-width : 992px) {
	.sm-no-flex {
		display: block;
	}
	.sm-no-float {
		float: none !important;
	}
	.sm-text-center {
		text-align: center;
	}
}

@media only screen and (max-width : 550px) {
	.team-members li {
		text-align: center;
	}
	.team-members li > div {
		float: none;
		display: inline-block;
		width: 30%;
		margin: 0 !important;
	}
	.team-members {
		transform: rotate(0);
	}
	.member-details img {
		transform: rotate(0) translate(0, 0);
	}
	.team-overview {
		padding: 15px;
	}
	
}

@media only screen and (max-width : 399px) {
	.team-members li > div {
		width: 48%;
	}
}

/* extra */
.copyright {
	text-align: center;
	margin-top: 30px;
	font-size: 1.6rem;
	background-color: #eee;
}
.copyright a {
	display: inline-block;
	padding: 10px 2px;
}
.upwork {
	color: #37a000;
}
.upwork:after {
	content: '/';
	margin-left: 10px;
}
.fiverr {
	color: #1dbf73;
}
.copyright .triplebyte {
	display: block;
	padding-top: 0;
	color: #344759;
	text-decoration: underline;
} 

.successHistorias{

  padding-top: 100px;
  padding-bottom: 100px;
}

/* COMO FUNCIONA CARDS */


@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}



html, body {
  height: 100%;
}



.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(images/4x/tanichi\ logo\ web@4x-100.jpg);
}
.card:nth-child(2):before {
  background-image: url(images//4x/consultoria\ web_1@4x-100.jpg);
}
.card:nth-child(3):before {
  background-image: url(images/4x/descuentos\ web@4x-100.jpg);
}
.card:nth-child(4):before {
  background-image: url(images/4x/dinero\ web@4x-100.jpg);
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: rgb(19, 19, 19);
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
} 

/* COMO FUNCIONA MANERAS DE GANAR*/

.manerasGanar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  color: black;
  
  
}

.tituloGanar{
  
  color: rgb(113, 113, 255);
  font-size: 25px;
  
}

.tituloGanar h4{
  font-size: 35px;
  font-weight: bold;
  padding: 30px;
}

.maneras{
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.manera h5{
  font-weight: bold;
}

.manera{
  padding: 10px;
}

.textComo{
  padding: 5px;
  font-size: 17px;
  
}





ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #8DB9ED;
}
.generic-anchor:visited {
  color: #8DB9ED;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

main {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background: #373737;
  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 33.333%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}

.footer-social-connect {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

  .footer-social-connect {
    font-size: 2.5em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    -webkit-box-pack: center;
            justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  .footer-social-connect {
    font-size: 2.4em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}




@media screen and (max-width: 850px){
  .section-5{
    height: 1500px;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
  
   
   background-size: cover;
   color: white;
   }

   .section-3{

    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F9F8F9;
    background-size: cover;
    color: #2e3b4e;

   }

   .videologo {
    height: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:nth-child(1):before {
  background-image: url(images/beneficio\ mobile@4x.png);
}
.card:nth-child(2):before {
  background-image: url(images/consultoria\ mobile@4x.png);
}
.card:nth-child(3):before {
  background-image: url(images/taniichi\ mobile@4x.png);
}
.card:nth-child(4):before {
  background-image: url(images/dinero\ mobile@4x.png);
}

}

@media screen and (max-width: 800px){
  .section-6{
    height: 1300px;
    width: 100%;
   }

   .slidesSection{

    height: 1000px;
    width: 100%;

   }

   .section-5{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #2e3b4e;
    
    background-size: cover;
    color: white;
}

.card:nth-child(1):before {
  background-image: url(images/beneficio\ mobile@4x.png);
}
.card:nth-child(2):before {
  background-image: url(images/consultoria\ mobile@4x.png);
}
.card:nth-child(3):before {
  background-image: url(images/taniichi\ mobile@4x.png);
}
.card:nth-child(4):before {
  background-image: url(images/dinero\ mobile@4x.png);
}
}

@media screen and (max-width: 750px){
  .section-5{
    height: 1500px;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
  
   
   background-size: cover;
   color: white;
   }

   .section-3{

    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F9F8F9;
    background-size: cover;
    color: #2e3b4e;

   }

   .videologo {
    height: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:nth-child(1):before {
  background-image: url(images/beneficio\ mobile@4x.png);
}
.card:nth-child(2):before {
  background-image: url(images/consultoria\ mobile@4x.png);
}
.card:nth-child(3):before {
  background-image: url(images/taniichi\ mobile@4x.png);
}
.card:nth-child(4):before {
  background-image: url(images/dinero\ mobile@4x.png);
}
}

@media screen and (max-width: 700px){
  .section-6{
    height: 1300px;
    width: 100%;
   }

   .slidesSection{
    height: 1000px;
    width: 100%;
   }

   .section-5{
    height: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #2e3b4e;
    
    background-size: cover;
    color: white;
}

.card:nth-child(1):before {
  background-image: url(images/beneficio\ mobile@4x.png);
}
.card:nth-child(2):before {
  background-image: url(images/consultoria\ mobile@4x.png);
}
.card:nth-child(3):before {
  background-image: url(images/taniichi\ mobile@4x.png);
}
.card:nth-child(4):before {
  background-image: url(images/dinero\ mobile@4x.png);
}

.textovideo{

  visibility: hidden;

}

.overlayvideo{
visibility: hidden;
 
}

}

@media screen and (max-width: 600px){
  .section-6{
    height: 1300px;
    width: 100%;
   }

   .slidesSection{
    height: 1000px;
    width: 100%;
   }

   .section-5{
    height: 950px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #2e3b4e;
    
    background-size: cover;
    color: white;
}
.card:nth-child(1):before {
  background-image: url(images/beneficio\ mobile@4x.png);
}
.card:nth-child(2):before {
  background-image: url(images/consultoria\ mobile@4x.png);
}
.card:nth-child(3):before {
  background-image: url(images/taniichi\ mobile@4x.png);
}
.card:nth-child(4):before {
  background-image: url(images/dinero\ mobile@4x.png);
}


}


@media screen and (max-width: 360px){
  .section-3{

    height: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F9F8F9;
    background-size: cover;
    color: #2e3b4e;

   }

   .section-3 .row{

     position: relative;
     height: 0%;
   
   }

   .videologo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .textovideo{
    z-index: 2;
    position: absolute;
    padding-left: 80px;
    padding-right: 15px;
  

}

    .textovideo h1{
    font-size: 35px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;

}

    .btn {
      cursor: pointer;
      margin-top: 1.5rem;
      padding: 0.75rem 1.5rem;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.025rem;
      text-transform: uppercase;
      color: white;
      background-color: rgb(19, 19, 19);
      border: none;
}

      .section-5{
      height: 1000px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: #2e3b4e;
      
      background-size: cover;
      color: white;
 }

      .card:nth-child(1):before {
        background-image: url(images/beneficio\ mobile@4x.png);
      }
      .card:nth-child(2):before {
        background-image: url(images/consultoria\ mobile@4x.png);
      }
      .card:nth-child(3):before {
        background-image: url(images/taniichi\ mobile@4x.png);
      }
      .card:nth-child(4):before {
        background-image: url(images/dinero\ mobile@4x.png);
      }

}


@media screen and (max-width: 800px){
  .textovideo h1{
      font-size: 50px;
  }

  .card:nth-child(1):before {
    background-image: url(images/beneficio\ mobile@4x.png);
  }
  .card:nth-child(2):before {
    background-image: url(images/consultoria\ mobile@4x.png);
  }
  .card:nth-child(3):before {
    background-image: url(images/taniichi\ mobile@4x.png);
  }
  .card:nth-child(4):before {
    background-image: url(images/dinero\ mobile@4x.png);
  }
}

@media screen and (max-width: 500px){
  .textovideo h1{
      font-size: 30px;
      margin-bottom: 0;
  }

  .textovideo h1::after{
      display: none;
  }

  .card:nth-child(1):before {
    background-image: url(images/beneficio\ mobile@4x.png);
  }
  .card:nth-child(2):before {
    background-image: url(images/consultoria\ mobile@4x.png);
  }
  .card:nth-child(3):before {
    background-image: url(images/taniichi\ mobile@4x.png);
  }
  .card:nth-child(4):before {
    background-image: url(images/dinero\ mobile@4x.png);
  }
}





/* CARD SLIDER BENEFICIOS EXTRA CON RESPONSIVE*/

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 4px 13px 30px 1px rgba(56, 118, 252, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #399ffe 0%, #3855fd 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(56, 125, 252, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #3876fd;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(56, 118, 252, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}